{% extends "Bot_base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block title %}

<title> Карточка Товара</title>

{% endblock %}

{% block main %}

<div class="container mt-3 mb-3">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Главная</a></li>
			<li class="breadcrumb-item"><a href="/admtovars/">Список товаров</a></li>
			<li class="breadcrumb-item active" aria-current="page">Товар: {{name}}</li>
		</ol>
	</nav>

	<h1 class="mb-3 text-center">{{name}}</h1>
	
    <div class="row justify-content-center">
			
        <div class="col">
			<h3 class="text-center mt-3">Товар</h3>
            <div class="card" >
			
				<div class="d-flex align-items-start justify-content-center flex-wrap">
                    <img src="/static/{{main}}" class="card-img-top m-2" style="width: 22em;" alt="...">
                </div>
				
                <div class="d-flex align-items-start justify-content-center flex-wrap">
					{% for t in photo %} 
                    <img src="/static/{{t.foto}}" class="card-img-top m-2" style="width: 22em;" alt="...">
					{% endfor %} 
                </div>
                <div class="card-body">
                     <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{opisanie}}</p>
					<p class="card-text">{{material}}</p>
                    <a href="/admntovaredit/{{id}}" class="btn btn-success m-1">Редактировать</a>
					<a href="/admntovarphoto/{{id}}" class="btn btn-primary m-1">Фото товара</a>
					{% if dell == False %}
					<form action="/admtovar/{{id}}" method="POST" >
					{% csrf_token %}
						<input type="hidden" name="delltovar" value="1" > </input>
						<button type="sumbit"  class="btn btn-danger m-1">Удалить</button>
					</form>
					{% else %}
					<form action="/admtovar/{{id}}" method="POST" >
					{% csrf_token %}
						<input type="hidden" name="undell" value="1" > </input>
						<button type="sumbit"  class="btn btn-success m-1">Восстановить удаленную</button>
					</form>
					{% endif %}
                    <a href="#" class="btn btn-secondary m-1">Отзывы товара</a>
					<a href="/admaddotz/{{id}}" class="btn btn-success m-1">Добавить отзыв</a>
                    <a href="/tovar/{{id}}" class="btn btn-secondary  m-1">Перейти к товару</a>


                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5>Вид: {% for s in type %}  {{s}}  {% endfor %}</h5></li>
                    <li class="list-group-item"><h5>Бренд: {{brand}}</h5></li>
                    <li class="list-group-item"><h5>Количество лайков: {{like}}</h5></li>
					<li class="list-group-item"><h5>Пол: {{sex}}</h5></li>
					{% if dell == False %}
					<li class="list-group-item"><h5>Статус: Не удалена</h5></li>
					{% else %}
					<li class="list-group-item"><h5>Статус: Удалена</h5></li>
					{% endif %}
              
                </ul>

            </div>
	</div>
	<div class="col">
			<h3 class="text-center mt-3">Размеры </h3>
			<div id="message3 "class="fixed-bottom">
			</div>
            <div class="list-group ">
			<div class="btn-group mb-2" role="group" aria-label="First group">
				<button type="button" id="butpass" class="btn btn-secondary">Добавить товары</button>
				<a href="/admjournal/?tovar={{name}}&str=0&kolich=10" class="btn btn-primary">Журнал</a>
				<button type="button" id="butsize" class="btn btn-secondary">Добавить размеры</button>

			  </div>
			{% for s in size %}
            <div  class="list-group-item list-group-item-action flex-column align-items-start">
			
                <div class="d-flex 	w-100 justify-content-between align-items-center">
					<div class="d-flex align-items-center justify-content-between ml-3 w-50">
                    <h5 class="mb-1"><span class="badge badge-pill badge-primary">{{s.name}}</span></h5>
					<h6 class=" mr-3 mb-1">Количество: {{s.koll}} </h6>
					</div>
					
					
					
					<form >
					<div class="custom-control custom-switch mr-3 ">
					{% if s.nal == True %}
					  <input type="checkbox" name="naldel" class="custom-control-input" id="{{s.name}}" checked>
					{% else %}
					  <input type="checkbox" name="naldel" class="custom-control-input" id="{{s.name}}" >
					{% endif %}	  
					  <label class="custom-control-label" for="{{s.name}}">Наличие</label>
					</div>
					<input type=hidden name="nalsize" value="1">
					<input type=hidden name="iddnal" value="{{s.id}}">					
					</form>
					
					<form id="delSize">
					<input type=hidden name="dellsize" value="1">
					<input type=hidden name="iddell" value="{{s.id}}">
					<div  class="clickdell btn btn-outline-danger btn-sm"> удалить </div>
					</form>

                </div>
                
            </div>
			{% endfor %}
			</div>
			
			<h3 class="text-center mt-3">Аренда </h3>
			<div id="message5"class="fixed-bottom">
			</div>
            <div class="list-group ">
			<div class="btn-group mb-2" role="group" aria-label="First group">
				<button type="button" id="butRent" class="btn btn-secondary">Добавить Аренду</button>
			  </div>
			  
			{% for s in arenda %}
            <div  class="list-group-item list-group-item-action flex-column align-items-start">
			
                <div class="">
					<div class="d-flex align-items-center justify-content-between ml-3">
                    <h5 class="mb-1"><span class="badge badge-pill badge-primary">{{s.name}}</span></h5>
					<form id="delSize">
					<input type=hidden name="dellrent" value="1">
					<input type=hidden name="iddellrent" value="{{s.id}}">
					<div  class="clickdellrent btn btn-outline-danger btn-sm"> удалить </div>
					</form>
					

					</div>
					<div class="d-flex align-items-center justify-content-between ml-3 ">
					<p class=" mr-3 mb-1">Платежей до выкупа: <span class="badge badge-pill badge-secondary">{{s.vikup}}</span> </p>
					<p class="  mb-1">Платежей до возврата: <span class="badge badge-pill badge-secondary">{{s.vozvrat}}</span> </p>
					</div>
					<div class="d-flex align-items-center justify-content-between ml-3">
					<p class=" mr-3 mb-1">Частота платежа: <span class="badge badge-pill badge-secondary">{{s.platej}}</span> </p>
					<p class=" mb-1">Стоимость оплаты: <span class="badge badge-pill badge-secondary">{{s.stoimost}}</span> </p>
					</div>
					
                </div>
                
            </div>
			{% endfor %}
			</div>
			
			
        </div>

</div>

<div id="formpass" class="container col-5  fixed-top shadow-lg mt-5 bg-white rounded  overflow-hidden  bg-white" style="display:none;">

<div class="form-group	 mt-3">
		<h5>Добавление товара</h5>
		<form  id="formaddtov" method="POST" action="">
		{% csrf_token %}
			<div class="form-group">
				<label >Количество</label>
				{{form.count|add_class:"form-control"}}
				<small id="emailHelp" class="form-text text-muted">Количество товаров</small>
			</div>
			<div class="form-group">
				<label >Размер</label>
				{{form.size|add_class:"form-control"}}
				<small id="emailHelp" class="form-text text-muted">Товары, какого размера ?</small>
			</div>
			<div class="form-group">
				<label >Дата</label>
				{{form.date|add_class:"form-control"}}
				<small id="emailHelp" class="form-text text-muted">Когда товары добавлены ?</small>
			</div>
			<input type="hidden" name="addsize" value=1>  </input>
			<div id="clickme"  type="button" class="btn btn-success  mt-2" > Сохранить</div>
			<div id="otmenapass" type="submit" class="btn btn-danger mt-2" > Закрыть</div>
		</form>
</div>
	<div id="message" class="fixed-bottom">

	</div>

</div>

<div id="formsize" class="container col-5  fixed-top shadow-lg mt-5 bg-white rounded  overflow-hidden  bg-white" style="display:none;">

<div class="form-group	 mt-3">
		<h5>Добавление размеров</h5>
		<form  id="formaddsize" method="POST" action="">
		{% csrf_token %}
			<div class="form-group">
				<label >Размеры</label>
				{{formAdd.Size|add_class:"form-control"}}
				<small id="emailHelp" class="form-text text-muted">Размеры у товара уникальны !</small>
			</div>
			<input type="hidden" name="addsizetov" value=1>  </input>
			<div id="clickme2"  type="button" class="btn btn-success  mt-2" > Сохранить</div>
			<div id="otmenasize" type="submit" class="btn btn-danger mt-2" > Закрыть</div>
		</form>
</div>
	<div id="message2" class="fixed-bottom">

	</div>

</div>

<div id="formrent" class="container col-5  fixed-top shadow-lg mt-5 bg-white rounded  overflow-hidden  bg-white" style="display:none;">

<div class="form-group	 mt-3">
		<h5>Добавление Аренды</h5>
		<form  id="formaddrent" method="POST" action="">
		{% csrf_token %}
			<div class="form-group">
				<label >Аренда</label>
				{{formRent.vidArendi|add_class:"form-control"}}
				<small id="emailHelp" class="form-text text-muted">Тип Аренды</small>
			</div>
			
			<div class="form-group">
				<label >Стоимость</label>
				{{formRent.stoimost|add_class:"form-control"}}
				<small id="emailHelp" class="form-text text-muted"> Стоимость платежа</small>
			</div>
			
			<div class="form-group">
				<label >Выкуп</label>
				{{formRent.vikup|add_class:"form-control"}}
				<small id="emailHelp" class="form-text text-muted">Через сколько платежей товар выкупится ?</small>
			</div>
			
			<div class="form-group">
				<label >Возврат</label>
				{{formRent.Vozvrat|add_class:"form-control"}}
				<small id="emailHelp" class="form-text text-muted">Через сколько платежей товар можно будет вернуть</small>
			</div>
			
			<div class="form-group">
				<label >Платежей</label>
				{{formRent.platej|add_class:"form-control"}}
				<small id="emailHelp" class="form-text text-muted">Каждые сколько дней платеж ?</small>
			</div>
			
			<input type="hidden" name="addrent" value=1>  </input>
			<div id="startrent"  type="button" class="btn btn-success  mt-2" > Сохранить</div>
			<div id="otmenarent" type="submit" class="btn btn-danger mt-2" > Закрыть</div>
		</form>
		
		<div id="messagerent" class="fixed-bottom">

	</div>
		
</div>
	<div id="message2" class="fixed-bottom">

	</div>

</div>

{% endblock %}
{% block js %}
 <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
 <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
 <script src="{% static "/ajax/style/setting.js" %}" type="text/javascript"></script>
<script>
	$(".alert").alert()
	$('#otmenapass').click(function(){
		$('#formpass').css('display','none');
	})
	$('#otmenasize').click(function(){
		$('#formsize').css('display','none');
	})
	$('#butpass').click(function(){
		$('#formpass').css('display','block');
	})
	$('#butsize').click(function(){
		$('#formsize').css('display','block');
	})
	$('#datepicker').datetimepicker({
            uiLibrary: 'bootstrap4',
			format: 'yyyy-mm-dd HH:MM:ss',
			modal: true,
            footer: true

        });

	$('#butRent').click(function(){
		$('#formrent').css('display','block');
	})
	
	$('#otmenarent').click(function(){
		$('#formrent').css('display','none');
	})
	
	$(document).ready(function(){
    $('#startrent').click(function(){
		 $.ajaxSetup({
			 success: function(datam){
						
					}
				 });
				var m_data=$('#formaddrent').serialize();
			   $.post("/admtovar/{{id}}", m_data,function(data){
					$("#messagerent").html(data);
					$('#formaddrent')[0].reset();
					setTimeout(function(){
						location.reload();
					} , 2000);
			   });
		});
			});
	
	$(document).ready(function(){
    $('#clickme').click(function(){
		 $.ajaxSetup({
			 success: function(datam){
						
					}
				 });
				var m_data=$('#formaddtov').serialize();
			   $.post("/admtovar/{{id}}", m_data,function(data){
					$("#message").html(data);
					$('#formaddtov')[0].reset();
					setTimeout(function(){
						location.reload();
					} , 1000);
			   });
		});
			});
	
	$(document).ready(function(){
    $('#clickme2').click(function(){
		 $.ajaxSetup({
			 success: function(datam){
						
					}
				 });
				var m_data=$('#formaddsize').serialize();
			   $.post("/admtovar/{{id}}", m_data,function(data){
					$("#message2").html(data);
					$('#formaddsize')[0].reset();
					setTimeout(function(){
						location.reload();
					} , 1000);
					
			   });
		});
			});
	
	$(document).ready(function(){
    $('.clickdell').click(function(){
		 $.ajaxSetup({
			 success: function(datam){
						
					}
				 });
				 var form = $(this).parent()
				var m_data= form.serialize();
			   $.post("/admtovar/{{id}}", m_data,function(data){
					$("#message3").html(data);
					setTimeout(function(){
						location.reload();
					} , 1000);
					
			   });
		});
			});
			
	
	$(document).ready(function(){
    $('.clickdellrent').click(function(){
		 $.ajaxSetup({
			 success: function(datam){
						
					}
				 });
				 var form = $(this).parent()
				var m_data= form.serialize();
			   $.post("/admtovar/{{id}}", m_data,function(data){
					$("#message5").html(data);
					setTimeout(function(){
						location.reload();
					} , 1000);
					
			   });
		});
			});
	
			
	$(document).ready(function(){
    $('.custom-control-input').click(function(){
		 $.ajaxSetup({
			 success: function(datam){
						
					}
				 });
				 var form = $(this).parent().parent();
				var m_data= form.serialize();
			   $.post("/admtovar/{{id}}", m_data,function(data){
					$("#message3").html(data);
					setTimeout(function(){
						location.reload();
					} , 1000);
					
			   });
		});
			});
	
</script>
{% endblock %}